{% load static %}
<div class="flex flex-row bg-sky-950 py-2" >
    <img class="ml-8 h-10"src="{% static 'img/logo.png' %}" alt="">
    <ul class="mx-5 flex flex-row gap-4 justify-between items-center text-yellow-200 font-bold">
        <li class="font-black text-xl text-violet-400 hover:text-indigo-500 ">Vitalab</li>
        <li><a href="{% url "solicitar_exames" %}">Solicitar exame</a></li>
        <li><a href="">Próximos exames</a></li>
        <li><a href="">Resultados</a></li>
        <li><a href="{% url "login" %}">Login</a></li>
    </ul>
</div>